## 절대경로
* 웹페이지나 파일이 가진 고유 경로로 최상위 디렉토리가 포함된 경로
* ex)file://Users/user/Downloads
* ex)C:\user/documents

## 상대경로
* 현재 위치한 곳을 기준으로 하는 경로
* /는 루트
* ./는 현재 위치
* ../ 현재위치의 상위 폴더
* ../../ 두 단계 위의 상위 폴더를 의미

In [1]:
# 실습파일 경로 확인1
%pwd

'/Users/sky/Downloads/data science starting with python'

In [4]:
# 실습파일 경로 확인2
import os
os.getcwd()

'/Users/sky/Downloads/data science starting with python'

In [14]:
from glob import glob

file_name = glob("data/*")[0]
file_name

'data/도로교통공단_월별 교통사고 통계_20211231.csv'

In [10]:
import pandas as pd

In [15]:
pd.read_csv(file_name, encoding='cp949')

    발생월   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  14909   197  4048  16141    1134
1     2  14511   203  4040  15967    1153
2     3  16600   209  4562  18022    1344
3     4  17403   212  4983  18822    1337
4     5  17378   255  4772  18911    1442
5     6  17575   227  5019  18837    1434
6     7  17994   254  4961  19459    1450
7     8  16418   247  4516  17906    1360
8     9  17012   246  4706  18184    1362
9    10  18300   312  4999  19861    1447
10   11  18096   285  5008  19174    1524
11   12  16934   269  4291  17999    1433

## 여러 파일을 한번에 로드하는 방법

In [30]:
file_csv = glob('data/store/*.csv')
file_csv # 파일 목록만 가져온 것임

['data/store/소상공인시장진흥공단_상가(상권)정보_인천_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전남_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경남_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경북_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전북_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_강원_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_광주_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충남_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충북_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_울산_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경기_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_서울_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대전_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_세종_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_제주_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대구_202209.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_부산_202209.csv']

In [35]:
# pd.read_csv(file_csv[0])

In [37]:
file_list = []

for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

data/store/소상공인시장진흥공단_상가(상권)정보_인천_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_전남_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경남_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경북_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_전북_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_강원_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_광주_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_충남_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_충북_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_울산_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경기_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_서울_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_대전_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_세종_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_제주_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_대구_202209.csv
data/store/소상공인시장진흥공단_상가(상권)정보_부산_202209.csv

In [43]:
len(file_list)

17

In [42]:
df = pd.concat(file_list)
df.shape

(2446771, 39)

In [44]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,27458653,칼스배드영수학원,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,2824510500100430000000001,라임빌,"인천광역시 계양구 임학서로41번길 5, (임학동, 라임빌)",407814.0,21030,NaN,NaN,NaN,126.731284,37.546507
1,22882934,간석미용실,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,2820010200101900026021270,NaN,"인천광역시 남동구 석촌로14번길 5, (간석동)",405803.0,21545,NaN,NaN,NaN,126.709349,37.461969
2,24444979,라헬,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2818510500109230000007532,금호동아아파트,"인천광역시 연수구 청능대로 124, (동춘동)",406775.0,21967,NaN,NaN,NaN,126.677224,37.410678
3,24872335,교동상회,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,2871040023105550000046629,NaN,"인천광역시 강화군 교동면 교동남로423번길 20, (상용리)",417921.0,23001,NaN,NaN,NaN,126.316681,37.779079
4,23397108,호텔써클,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,2817010200106280011000001,화이트캐슬,"인천광역시 미추홀구 토금중로3번길 28, (용현동)",402834.0,22186,NaN,NaN,NaN,126.635196,37.455288

In [45]:
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
157725,18759679,꾸미다뷰티,NaN,F,생활서비스,F01,이/미용/건강,F01A02,발/네일케어,S96119,...,2626010600100400013001989,NaN,"부산광역시 동래구 수안로8번길 35, (수안동)",607823.0,47887,E,1,NaN,129.089537,35.195231
157726,18759675,본가,꽃게아구,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2623011000100560002048159,한신센타뷰,"부산광역시 부산진구 가야대로 597, (가야동, 한신센타뷰)",614800.0,47272,NaN,2,NaN,129.036980,35.155247
157727,18764252,블루워시,하단점,F,생활서비스,F02,세탁/가사서비스,F02A01,세탁소/빨래방,S96912,...,2638010300108870007035678,헤를리치,"부산광역시 사하구 하신번영로 302, (하단동, 헤를리치)",604853.0,49306,NaN,NaN,NaN,128.959048,35.108007
157728,18743127,몰운대,NaN,D,소매,D03,종합소매점,D03A05,수입품판매점,G47190,...,2638010600116240000000001,다대동롯데캐슬몰운대아파트,"부산광역시 사하구 다대낙조2길 100, (다대동)",604783.0,49497,104,NaN,NaN,128.965427,35.056377
157729,18744797,루스,NaN,D,소매,D16,화장품소매,D16A01,화장품판매점,G47813,...,2635010100108770000000001,NaN,"부산광역시 해운대구 신반송로 178, (반송동)",612808.0,48011,NaN,3,NaN,129.160517,35.229194

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2446771 entries, 0 to 157729
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      int64
 34  동정보        object
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(11), object(22)
memory usage: 746.7+ MB